{% extends'layout/basicLayout.html.twig' %}

{% block body %}
    {{ parent() }}
    <div id="page-wrapper">
        <div id="page-inner">
            <h1>ADMIN HOMEPAGE</h1>

        </div>
    </div>

{% endblock %}