{% extends'layout/basicLayout.html.twig' %}

{% block body %}
    {{ parent() }}
    <div id="wrapper">
        <div id="page-wrapper">
            <h1>USER HOMEPAGE</h1>

        </div>

    </div>


{% endblock %}