{% extends 'layout/basicLayout.html.twig' %}

{% block body %}
    {{ parent() }}
    <div id="page-wrapper">
    <div id="page-inner">

                <div class="row">
                    <div class="col-sm-6 col-sm-offset-2 col-lg-4 col-lg-offset-4">

                        <h1>Login</h1>

                        {% if error %}
                        <div class="alert alert-danger">Wrong Email or Password</div>
                        {% endif %}

                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
                        {{ form_end(form) }}

                    </div>
                </div>

    </div>
    </div>

{% endblock %}